<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form action = "" method="POST">
		<h3>enter name:</h3>
		<p><input type="Text" name="Contractor"/></p>
		<h3>Due Date</h3>
		<p><input type="Date" name="DueDate"/></p>
		<h3>Advance pay</h3>
		<p><input type="number" name="AdvPay"/></p>
		<h3>Contract Pay</h3>
		<p><input type="number" name="ContrPay"/></p>
		<h3>Start Date</h3>
		<p><input type="Date" name="DateS"/></p>
		<h3>Product Name</h3>
		<p><input type="Text" name="ProdName"/></p>
		<p><input type="submit" value="submit"/></p>
	</form>
</body>
</html>