<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form action = "" method="POST">
		<h3>Select assigned Contract</h3>
		<p>
		<select name="ContrID">
			{% for ContrRow in ContrRows %}
				{% for ProjContrRow in ProjContrRows %}
				{% if ProjContrRow['CMContrID'] == ContrRow['CMContrID'] %}
				<option value = "{{ContrRow['CMContrID']}}" selected>{{ContrRow['CMProdName']}}</option>
				{% else %}
				<option value = "{{ContrRow['CMContrID']}}">{{ContrRow['CMProdName']}}</option>	
				{% endif %}
				{% endfor %}
			{% endfor %}
		</select>
		</p>
		<h3>Select assigned Company</h3>
		<p>
			<select>
				<option value = "1">1</option>
				<option value = "2">2</option>
			</select>
		</p>
		<h3>Project Name</h3>
		<p><input type="number" name="ProjName" value=""/></p>
		<h3>Creation Date</h3>
		<p><input type="number" name="CDate"/></p>
		<p><input type="submit" value="submit"/></p>
	</form>
</body>
</html>