<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form action = "" method="POST">
		<h3>Task Name:</h3>
		<p><input type="text" name="TaskName"/></p>
		
		<h3>Assigned project</h3>
		<p>
			<select name="ProjOption">
				{% for row in rows %}
				<option value="{{row['CMProjID']}}">{{row['CMProdName']}}</option>
				{% endfor %}
			</select>
		</p>
		
		<h3>Positive prediction</h3>
		<p><input type="number" name="PosPre"/></p>
		
		<h3>Normal prediction</h3>
		<p><input type="number" name="NormPre"/></p>
		
		<h3>Negative Prediction</h3>
		<p><input type="number" name="NegPre"/></p>
		
		<h3>Months</h3>
		<p><input type="number" name="Months"/></p>
		
		<h3>Task creation date</h3>
		<p><input type="date" name="CDate"/></p>
		
		<p><input type="submit" value="submit"/></p>
	</form>
</body>
</html>