<!DOCTYPE html>
<html lang="en">
<head>

	{%include "CSSFormLinks.html" %}

</head>
<body>

	{%include "Menus/MainMenu.html" %}

	<div class="FormItem">
		<div>
			<form action = "" method="POST">
				<div>
					<div>
						<p>Add Contract</p>
					</div>

					<div>
						<p>Enter Contractor</p>
						<input type="Text" name="Contractor"/>
					</div>

					<div>
						<p>Due Date</p>
						<input type="Date" name="DueDate"/>
					</div>

					<div>
						<p>Advance pay</p>
						<input type="number" name="AdvPay"/>
					</div>

					<div>
						<p>Contract Pay</p>
						<input type="number" name="ContrPay"/>
					</div>

					<div>
						<p>Start Date</p>
						<input type="Date" name="DateS"/>
					</div>

					<div>
						<p>Product Name</p>
						<input type="Text" name="ProdName"/>
					</div>

					<input type="submit" value="submit"/>
				</div>
			</form>
		</div>
	</div>

	<div class="LinkButton">
		<a href="{{url_for('contrb.Contract')}}"><div><p>Back</p></div></a>
	</div>

	{%include "Footer.html" %}
</body>
</html>
