<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Project/ProjOverv/ProjOverv.css')}}">
		<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Header.css')}}">
		<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/MainMenu.css')}}">
		<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/ItemList.css')}}">
		<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Footer.css')}}">
	</head>
	
	<body>		
		<div class="MainMenu">
			<a href="{{url_for('projb.ProjOverv')}}"><div><p>Projects</p></div></a>
			<a href="{{url_for('projb.ProjOverv')}}"><div><p>Contracts</p></div></a>
			<a href="{{url_for('projb.ProjOverv')}}"><div><p>Company's</p></div></a>
			<a href="{{url_for('projb.ProjOverv')}}"><div><p>Employees</p></div></a>
		</div>
	
		
		<div class="ItemList">
			<h1>Projects</h1>
			{% for ProjRow in ProjRows %}
			<div>
			
				<form action="{{url_for('projb.ProjOvervLoad')}}" method="POST">
				
					<div>
						<p>{{ProjRow['CMProdName']}}</p>
					</div>
					
					<div>
						<p>Project ID: </p>
						<p>{{ProjRow['CMProjID']}}</p>
					</div>
					
					<div>
						<p>Assigned Company: </p>
						<p>{{ProjRow['CMCompName']}}</p>
					</div>
					
					<div>
						<p>Contractor: </p>
						<p>{{ProjRow['CMContractor']}}</p>
					</div>
					
					<div>
						<p>Due Date: <p>
						<p>{{ProjRow['CMDueDate']}}</p>
					</div>
					
					<div>
						<p>Project Start: </p>
						<p>{{ProjRow['CMDateS']}}</p>
					</div>
					
					<input type="hidden" value="{{ProjRow['CMProjID']}}" name="ProjID"/>
					<input type="hidden" value="{{ProjRow['CMProdName']}}" name="ProdName"/>
					
					<input type="submit" value="Load" name="ProjLoad"/>
					
					<input type="submit" value="Edit" name="ProjEdit"/>
					
					<input type="submit" value="Delete" name="ProjDel"/>
					
				</form>
				
			</div>
			{% endfor %}
			<a href="{{url_for('projb.ProjForm')}}"><div><p>New Project</p></div></a>
			
		</div>
		
		<div class="LinkButton">
			<a href="{{url_for('Index')}}"><div><p>Back</p></div></a>
		</div>
		
		<div class="Footer">
		</div>
		
	</body>
	
</html>