<!DOCTYPE html>
<html>

	<head>
	</head>
	
	<body>
	
		<div>
			{% for TaskRow in TaskRows %}
				<h1>{{TaskRow['CMName']}}</h1>
				<form action="{{url_for('taskb.TaskLoad')}}" method="POST">
				
					<div>
						<h3>Task ID</h3>
						<h4>{{TaskRow['CMTaskID']}}</h4>
					</div>
					
					<div>
						<h3>Positive </h3>
						<h4>{{TaskRow['CMPos']}}</h4>
					</div>
					
					<div>
						<h3>Negative </h3>
						<h4>{{TaskRow['CMNeg']}}</h4>
					</div>
					
					<div>
						<h3>Normal </h3>
						<h4>{{TaskRow['CMNorm']}}</h4>
					</div>
					
					<div>
						<h3>Variance </h3>
						<h4>{{TaskRow['CMVar']}}</h4>
					</div>
					
					<div>
						<h3>Expected </h3>
						<h4>{{TaskRow['CMExp']}}</h4>
					</div>
					
					<div>
						<h3>Months </h3>
						<h4>{{TaskRow['CMMonth']}}</h4>
					</div>
					
					<div>
						<h3>Date Created </h3>
						<h4>{{TaskRow['CMDateC']}}</h4>
					</div>
					
					<div>
						<h2>Dependancys<h2>
						{% for TaskDepRow in TaskDepRows %}
							{% if TaskDepRow['CMTaskID'] == TaskRow['CMTaskID'] %}
								<div>
									<h3>-{{TaskDepRow['CMName']}}</h3>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					
					<input type="hidden" value="{{TaskRow['CMTaskID']}}" name="TaskID"/>
					
					<input type="submit" value="Edit" name="TaskEdit"/>
					
					<input type="submit" value="Delete" name="TaskDel"/>
					
				</form>
			{% endfor %}
			<a href="{{url_for('projb.ProjOverv')}}">Back</a>
			
			<a href="{{url_for('projb.ProjTaskForm')}}">New task</a>
			
		</div>
		
	</body>
	
</html>