<!DOCTYPE html>
<html>
	<head>
	</head>
	
	<body>
		<div>
			{% for row in rows %}
			<h2>{{row['CMName']}}</h2>
			<form action="" method="POST">
				<div><h3>Task ID</h3><h4>{{row['CMTaskID']}}</h4></div>
				<div><h3>Positive </h3><h4>{{row['CMPos']}}</h4></div>
				<div><h3>Negative </h3><h4>{{row['CMNeg']}}</h4></div>
				<div><h3>Normal </h3><h4>{{row['CMNorm']}}</h4></div>
				<div><h3>Variance </h3><h4>{{row['CMVar']}}</h4></div>
				<div><h3>Expectated </h3><h4>{{row['CMExp']}}</h4></div>
				<div><h3>Months </h3><h4>{{row['CMMonth']}}</h4></div>
				<div><h3>Date Created </h3><h4>{{row['CMDateC']}}</h4></div>
			</form>
			{% endfor %}
		</div>
	</body>
</html>