<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Company/CompanyAddForm/CompanyAddForm.css')}}">
	<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/form/form.css')}}">
	<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/MainMenu.css')}}">
	<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Footer.css')}}">
</head>
<body>

	<div class="MainMenu">
		<a href="{{url_for('projb.ProjOverv')}}"><div><p>Projects</p></div></a>
		<a href="{{url_for('projb.ProjOverv')}}"><div><p>Contracts</p></div></a>
		<a href="{{url_for('projb.ProjOverv')}}"><div><p>Company's</p></div></a>
		<a href="{{url_for('projb.ProjOverv')}}"><div><p>Employees</p></div></a>
	</div>

	<div class="FormItem">
		<div>
			<form action = "" method="POST">
				<div>
					<div>
						<p>Add Company</p>
					</div>
				
					<div>
						<p>Company Name</p>
						<input type="Text" name="CompName"/>
					</div>
					
					<div>
						<p>Creation Date</p>
						<input type="Date" name="CDate"/>
					</div>
					
					<div>
						<p>Country</p>
						<input type="Text" name="Country"/>
					</div>
					
					<div>
						<p>Interest Rate</p>
						<input type="number" name="IR"/>
					</div>
					
					<input type="submit" value="submit"/>
				</div>
			</form>
		</div>
	</div>
	
	<div class="LinkButton">
		<a href="{{url_for('Index')}}"><div><p>Back</p></div></a>
	</div>
	
	<div class="Footer">
	</div>
</body>
</html>