<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form action = "{{url_for('projb.AddProj')}}" method="POST">
		
		<h3>Select assigned Contract</h3>
		<p>
			<select name="ContrID">
				{% for ContrRow in ContrRows %}
					<option value = "{{ContrRow['CMContrID']}}">{{ContrRow['CMProdName']}}</option>
				{% endfor %}
			</select>
		</p>
		
		<h3>Select assigned Company</h3>
		<p>
			<select name="CompID">
				{% for CompRow in CompRows %}
					<option value = "{{CompRow['CMCompID']}}">{{CompRow['CMCompName']}}</option>
				{% endfor %}
			</select>
		</p>
		
		<h3>Select assigned Department</h3>
		<p>
			<select name="DepID">
				{% for DepRow in DepRows %}
					<option value = "{{DepRow['CMDepID']}}">{{DepRow['CMDepName']}}</option>
				{% endfor %}
			</select>
		</p>
		
		<p><input type="submit" value="Add"/></p>
	</form>
	<a href="{{url_for('projb.ProjOverv')}}">Back</a>
</body>
</html>