<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Project/ProjEditForm/ProjEditForm.css')}}">
	<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/form/form.css')}}">
	<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/MainMenu.css')}}">
	<link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Footer.css')}}">
</head>

<body>
	<div class="MainMenu">
		<a href="{{url_for('projb.ProjOverv')}}"><div><p>Projects</p></div></a>
		<a href="{{url_for('projb.ProjOverv')}}"><div><p>Contracts</p></div></a>
		<a href="{{url_for('projb.ProjOverv')}}"><div><p>Company's</p></div></a>
		<a href="{{url_for('projb.ProjOverv')}}"><div><p>Employees</p></div></a>
	</div>

	<div class="FormItem">
		<div>
			{% for ProjRow in ProjRows %}
				<form action = "{{url_for('projb.ProjUpdate')}}" method="POST">
					<div>
						<div>
							<p>Project ID {{ProjRow['CMProjID']}}</p>
						</div>
						
						<div>
							<p>Select assigned Contract</p>
							<select name="ContrID">
								{% for ProjRow in ProjRows %}
									{% for ContrRow in ContrRows %}
										{% if ProjRow['CMContrID'] == ContrRow['CMContrID'] %}
											<option value = "{{ContrRow['CMContrID']}}" selected>{{ContrRow['CMProdName']}}</option>
										{% else %}
											<option value = "{{ContrRow['CMContrID']}}">{{ContrRow['CMProdName']}}</option>	
										{% endif %}
									{% endfor %}
								{% endfor %}
							</select>
						</div>
						
						<div>
							<p>Select assigned Company</p>
							<select name="CompID">
								{% for ProjRow in ProjRows %}
									{% for CompRow in CompRows %}
										{% if ProjRow['CMCompID'] == CompRow['CMCompID'] %}
											<option value = "{{CompRow['CMCompID']}}" Selected>{{CompRow['CMCompName']}}</option>
										{% else %}
											<option value = "{{CompRow['CMCompID']}}">{{CompRow['CMCompName']}}</option>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</select>
						</div>
						
						<div>
							<p>Select assigned Department</p>
							<select name="DepID">
								{% for ProjRow in ProjRows %}
									{% for DepRow in DepRows %}
										{% if ProjRow['CMDepID'] == DepRow['CMDepID'] %}
											<option value = "{{DepRow['CMDepID']}}" Selected>{{DepRow['CMDepName']}}</option>
										{% else %}
											<option value = "{{DepRow['CMDepID']}}">{{DepRow['CMDepName']}}</option>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</select>
						</div>
						
						<input type="hidden" name="ProjID" value="{{ProjRow['CMProjID']}}"/>
						<input type="submit" value="submit"/>
						
					</div>
						
				</form>
			{% endfor%}
		</div>
	</div>
	
	<div class="LinkButton">
		<a href="{{url_for('Index')}}"><div><p>Back</p></div></a>
	</div>
	
	<div class="Footer">
	</div>
</body>
</html>