<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form action = "" method="POST">
		<h3>Project ID</h3>
		{% for ProjRow in ProjRows %}
		<p>{{ProjRow['CMProjID']}}</p>
		{% endfor%}
		<h3>Select assigned Contract</h3>
		<p>
		<select name="ContrID">
			{% for ProjRow in ProjRows %}
				{% for ContrRow in ContrRows %}
				{% if ProjRow['CMContrID'] == ContrRow['CMContrID'] %}
				<option value = "{{ContrRow['CMContrID']}}" selected>{{ContrRow['CMProdName']}}</option>
				{% else %}
				<option value = "{{ContrRow['CMContrID']}}">{{ContrRow['CMProdName']}}</option>	
				{% endif %}
				{% endfor %}
			{% endfor %}
		</select>
		</p>
		<h3>Select assigned Company</h3>
		<p>
			<select name="CompID">
			{% for ProjRow in ProjRows %}
				{% for CompRow in CompRows %}
				{% if ProjRow['CMCompID'] == CompRow['CMCompID'] %}
				<option value = "{{CompRow['CMCompID']}}" Selected>{{CompRow['CMCompName']}}</option>
				{% else %}
				<option value = "{{CompRow['CMCompID']}}">{{CompRow['CMCompName']}}</option>
				{% endif %}
				{% endfor %}
			{% endfor %}
			</select>
		</p>
		<h3>Select assigned Department</h3>
		<p>
			<select name="DepID">
			{% for ProjRow in ProjRows %}
				{% for DepRow in DepRows %}
				{% if ProjRow['CMDepID'] == DepRow['CMDepID'] %}
				<option value = "{{DepRow['CMDepID']}}" Selected>{{DepRow['CMDepName']}}</option>
				{% else %}
				<option value = "{{DepRow['CMDepID']}}">{{DepRow['CMDepName']}}</option>
				{% endif %}
				{% endfor %}
			{% endfor %}
			</select>
		</p>
		<p><input type="submit" value="submit"/></p>
	</form>
	<a href="{{url_for('Index')}}">Back</a>
</body>
</html>