<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form action = "{{url_for('taskb.AddTask')}}" method="POST">
	
		<h3>Assigned project</h3>
		<div>
			{% for TaskProjRow in TaskProjRows %}
				<input type="text" name="ProjID" value="{{TaskProjRow['CMProjID']}}" />
			{% endfor %}
		</div>
	
		<h3>Task Name:</h3>
		<div><input type="text" name="TaskName"/></div>
		
		<h3>Positive prediction</h3>
		<div><input type="number" name="PosPre"/></div>
		
		<h3>Normal prediction</h3>
		<div><input type="number" name="NormPre"/></div>
		
		<h3>Negative Prediction</h3>
		<div><input type="number" name="NegPre"/></div>
		
		<h3>Months</h3>
		<div><input type="number" name="Months"/></div>
		
		<h3>Dependency</h3>
		<div>
			{% for TaskProjRow in TaskProjRows %}
				<h4>Projects ID: {{TaskProjRow['CMProdName']}}</h4>
				{% for TaskRow in TaskRows %}
					{% if TaskProjRow['CMProjID'] == TaskRow['CMProjID'] %}
						<div><input type="checkbox" name="TaskDep[]" value="{{TaskRow['CMTaskID']}}"/><h5>{{TaskRow['CMName']}}</h5></div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		
		<div><input type="submit" value="Add"/></div>
	</form>
	<a href="{{url_for('projb.ProjOverv')}}">Back</a>
</body>
</html>